* {
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.checkoutPage {
  display: flex;
}

.checkoutPageLeftContainer {
  margin: 0 24px;
}

.expectedTimeDropdownButton {
  background-color: white;
  border: 1px solid #f1f1f1;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  cursor: pointer;
  padding: 0;
  padding-bottom: 10px;
}

.expectedTimeOuterElementsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.expectedTimeInnerElementsContainer {
  display: flex;
  align-items: center;
}

.expectedTimeClockSVG {
  font-weight: bolder;
  margin-right: 10px;
}

.expectedTimeDownArrowSVG {
  filter: invert(49%) sepia(0%) saturate(6%) hue-rotate(154deg) brightness(92%)
    contrast(93%);
}

.expectedTime {
  width: 50vw;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}

.expectedTimeContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.expectedTimeInnerText {
  margin: 0;
  text-align: left;
}

.expectedTimeInnerTextTime {
  margin: 0;
  color: #747474;
  text-align: left;
}

.expectedTimeContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.expectedTimeContent a:hover {
  background-color: #f1f1f1;
}

.expectedTime:hover .expectedTimeContent {
  display: block;
}

.expectedTime:hover .expectedTimeDropdownButton {
  background-color: #f1f1f1;
}

.expectedTimeAppDelivery {
  display: flex;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid #f1f1f1;
  border-right: none;
  border-left: none;
}

.expectedTimeDeliverySVG {
  margin-right: 10px;
}

.expectedTimeApp {
  margin-bottom: 0px;
}

.checkoutMobileHeader {
  text-align: center;
}

.deliveryOptionsAppContainer {
  margin-top: 20px;
}

.deliveryOptionsAppButtonsContainer {
  display: flex;
}

.deliveryOptionButton {
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 10px 5px;
  font-size: 14px;
}

.deliveryOptionButtonDoor {
  background-color: #e9ebf0;
}

.deliveryOptionButtonPerson {
  background-color: black;
}

.deliveryOptionButtonSVG {
  margin-right: 10px;
}

.deliveryOptionButtonDoorSVG {
  filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(100%) contrast(107%);
}

.deliveryOptionButtonPersonSVG {
  filter: invert(100%) sepia(9%) saturate(35%) hue-rotate(247deg) brightness(107%) contrast(107%);
}

.deliveryOptionButtonPersonText {
  color: white;
}



.mediumEdenredButton {
  padding: 0 90px;
  margin: 12px 0px 24px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  height: 48px;
  border: 2px solid #1d204c;
  border-radius: 50px;
  color: #747474;
}

.loggedInBannerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  -webkit-box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .loggedInBannerContainer {
    flex-direction: column;
  }

  .loggedInExitContainer {
    margin-bottom: 32px;
  }
}

.loggedInEdenred {
  padding-right: 20px;
  margin: 12px 0px 24px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  height: 48px;
  color: #747474;
}

.loggedInEdenredAfter {
  margin: 32px 0;
}

.loggedInHeader {
  font-weight: 600;
  font-size: 14px;
  color: #1d204c;
}

.loggedInExitButton {
  color: #c0272d;
  font-size: 12px;
  font-weight: bold;
}

.edenredButtonText {
  color: black;
  font-weight: bolder;
  text-align: end;
  font-size: 0.85rem;
}

.edenredButtonLogo {
  height: 70%;
  object-fit: contain;
}

.largeEdenredButton {
  min-width: 180px;
  height: 60px;
}

.alternativeEdenredButton {
  border-radius: 4px;
}

.partnerPlatforms {
  margin-bottom: 40px;
}

.partnerPlatformsHeaderText {
  margin-bottom: 40px;
}

.partnerPlatformsMinorText {
  color: #747474;
  margin-bottom: 0;
  margin: 0;
  margin-top: 24px;
}

.partnerPlatformAppContainer {
  margin-top: 20px;
  border: 1px solid #f1f1f1;
  border-right: none;
  border-top: none;
  border-left: none;
}

.summaryAppContainer {
  margin: 20px 0;

}

.summaryAppContainer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.summaryAppSmallOrdersContainer {
  color: #747474;
  font-size: 14px;
}

.summaryAppServicesContainer {
  color: #747474;
  font-size: 14px;
}

.summaryAppTotalHeader {
  font-weight: 900;
}

.paymentReceiptOption {
  margin-right: 15px;
  margin-top: 5px;
}

.paymentReceiptOptionText {
  color: #747474;
  font-size: 14px;
  display: block;
}

.nextButtonAppContainer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-content: center;
  padding: 15px 10px;
  justify-content: space-between;
}

.nextButtonText {
  padding-left: 40px;
}

.nextButtonAppSpace {
  color: black;
}

.promotionalCodes {
  margin-top: 80px;
}

.yourOrder {
  position: relative;
  width: 40vw;
  padding-bottom: 10vh;
  margin-bottom: auto;
  margin-left: 4vw;
  margin-right: 1vw;
  border-right: 10px;
  -webkit-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.23);
}

.yourOrder:after {
  background: linear-gradient(-50deg, rgba(0, 0, 0, 0.23) 16px, transparent 0),
    linear-gradient(50deg, rgba(0, 0, 0, 0.23) 16px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 26px;
}

.yourOrderSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 40px 20px;
  padding-bottom: 20px;
  border: 1px solid #f1f1f1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.yourOrderSummaryMinorText {
  color: #747474;
  font-size: 14px;
}

.yourOrderSummaryMainText {
  margin-bottom: 10px;
}

.yourOrderItemContainer {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #f1f1f1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.yourOrderItemContainerSecond {
  border: none;
}

.yourOrderItemText {
  margin-right: 5px;
}

.yourOrderAllergiesButton {
  display: inline-block;
  text-decoration: none;
  color: turquoise;
  margin-left: 20px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.yourOrderContactlessNotification {
  margin: 0 20px;
  color: #747474;
  font-size: 13px;
}

.yourOrderAppHeadersContainer {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.yourOrderAppHeaderText {
  font-weight: bold;
}

.yourOrderAppHeaderMenuButton {
  font-size: 14px;
  color: green;
  cursor: pointer;
}

.yourOrderAppBodyItemContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border: 1px solid #f1f1f1;
  border-right: none;
  border-top: none;
  border-left: none;
}

.yourOrderAppItemCounter {
  background-color: #e9ebf0;
  padding: 5px 10px;
  margin-bottom: 40px;
}

.yourOrderAppItemDescriptionContainer {
}

.yourOrderAppItemDescriptionMainHeader {
  margin: 0;
  font-weight: 700;
  margin-bottom: 10px;
}

.yourOrderAppItemDescriptionMinorHeader {
  font-size: 12px;
  color: #747474;
  margin-top: 0;
  margin-bottom: 20px;
}

.yourOrderAppItemPrice



.discountTicketsGrid {
  display: grid;
  grid-template-areas:
    "header1 header2 header3"
    "separator1 separator1 separator1"
    "num1 container1 num2"
    "separator2 separator2 separator2"
    "num3 container2 num4"
    "separator3 separator3 separator3"
    "total . num5"
    "automatic automatic automatic";
  justify-items: center;
  align-items: center;
}

.discountTicketsSeparator {
  width: 100%;
  border: 2px solid #f1f1f1;
  border-right: none;
  border-left: none;
  border-top: none;
}

.discountTicketsHeaders {
  color: #8c8c8c;
  font-weight: 600;
  font-size: 14px;
  margin: 24px 0;
}

.discountTicketsCounterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.discountTicketsCounterButtonInactive {
  background-color: #e9ebf0;
  color: white;
  cursor: auto;
  height: 20px;
  width: 20px;
  border: none;
  padding: 0;
  border-radius: 50px;
  margin: 20px;
  font-size: 17px;
  font-weight: bold;
}

.discountTicketsCounterButtonActive {
  background-color: #2972b8;
  color: white;
  cursor: pointer;
  padding: 0;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50px;
  margin: 20px;
  font-size: 17px;
  font-weight: bold;
}

.discountTicketsTextType1 {
  color: #1d204c;
  font-weight: 600;
  font-size: 20px;
  padding: 32px 0;
}

.discountTicketsTextType2 {
  color: #1d204c;
  font-weight: normal;
  font-size: 20px;
  padding: 32px 0;
}

.separator1 {
  grid-area: separator1;
}

.separator2 {
  grid-area: separator2;
}

.separator3 {
  grid-area: separator3;
}

.container1 {
  grid-area: container1;
}

.container2 {
  grid-area: container2;
}

.header1 {
  grid-area: header1;
}

.header2 {
  grid-area: header2;
}

.header3 {
  grid-area: header3;
}

.num1 {
  grid-area: num1;
}

.num2 {
  grid-area: num2;
}

.num3 {
  grid-area: num3;
}

.num4 {
  grid-area: num4;
}

.num5 {
  grid-area: num5;
}

.total {
  grid-area: total;
}

.errorNotification {
  display: flex;
  color: #c0272d;
  font-size: 14px;
  font-weight: normal;
}

.errorNotificationSVG {
  margin-right: 10px;
  filter: invert(14%) sepia(73%) saturate(6459%) hue-rotate(352deg)
    brightness(83%) contrast(77%);
}

.automaticTicketSelection {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 24px 0;
}

.switch {
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
